/* You can add global styles to this file, and also import other style files */
$theme1: ("platinum": #EEE2DF, "champangne-pink": #EED7C5, "tuscany": #C89F9C, "copper-red": #C97C5D, "copper-penny": #B36A5E);

$theme2: ("alice-blue": #D9F0FF, "baby-blue-eyes": #A3D5FF, "light-sky-blue": #83C9F4, "violet-blue-crayola": #6F73D2, "glaucous": #7681B3);

$theme3: ("little-boy-blue": #809BCE, "pale-cerulean": #95B8D1, "aero-blue": #B8E0D2, "honeydew": #D6EADF, "cameo-pink": #EAC4D5);

$colors: ("nickel": #6B7D7D)