// $red: #FF6347
// $dark-red: #B21B00
// $light-red: #FF836D
// $dark-grey: #3B444B
$colors: ("platinum": #EEE2DF, "champangne-pink": #EED7C5, "tuscany": #C89F9C, "copper-red": #C97C5D, "copper-penny": #B36A5E, "nickel": #6B7D7D)

.grid
    position: relative
    margin: 40px auto 0
    max-width: 80vw
    width: 1000px
    max-height: 80vh
    height: 1000px
    font-size: 1rem

.row
    display: flex
    -webkit-user-drag: none
    
.path
    background: map-get($colors, "champangne-pink")
    color: white
    font-weight: bold
    flex: 1 0 auto
    position: relative
    margin: 2px
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2)
    transition: 0.3s cubic-bezier(1,.58,.5,1.85) background
    transition-property: box-shadow, transform, background
    border-radius: 3px
    -webkit-user-drag: none

    &.checked 
        transform: scale(0.7)
        background: map-get($colors, "platinum")

    &.blocked
        background: map-get($colors, "nickel")
        box-shadow: 0px 0px 5px 2px map-get($colors, "nickel")

    &:hover 
        transform: scale(1.2)
        z-index: 999
        box-shadow: 0px 0 10px -2px rgba(0,0,0,0.3)

    &.start, &.end, &.active
       background: map-get($colors, "copper-red")
       transform: scale(1.1)
    
    &.no-path 
        background: map-get($colors, "copper-penny")
        transform: scale(0.9)
        box-shadow: 0px 0 0 -0 rgba(0,0,0,0)

    &::after
        content: ""
        float:left
        display: block
        padding-top: 100%

    &-inner 
        position: absolute
        left: 0
        right: 0
        bottom: 0
        top: 0
        display: flex
        align-items: center
        justify-content: center

.no-path-message
    background: white
    margin: 50px
    padding: 20px
    border-radius: 10px
    box-shadow: 0px 0 10px -2px rgba(0,0,0,0.3)
    position: absolute
    text-align: center
    top: 0
    left: 0
    right: 0
