@import "variables"

.action-message 
    height: 40px
    text-align: center

.contollers, .actions
    text-align: center

button 
    background-color: map-get($theme1, "champangne-pink")
    color: map-get($theme1, "copper-penny")
    border: 2px solid map-get($theme1, "copper-penny")
    margin: 6px
    font-weight: bold
    border-radius: 6px
    padding: 10px 20px
    outline: none
    box-shadow: none
    
    &.active
        background-color: map-get($theme1, "copper-penny")
        color: map-get($theme1, "champangne-pink") 



