<div class="controllers">
  <ng-container *ngFor="let action of actions">
    <div class="toggle" *ngIf="action.type === 'Toggle'">
      <button
        mat-button
        [ngClass]="{ active: actionActive.title === action.title }"
        (click)="setAction(action)"
      >
        {{ action.title }}
      </button>
      <span class="action-message">{{ action.message }}</span>
    </div>
    <div class="toggle-counter" *ngIf="action.type === 'Toggle Counter'">
      <span>{{ action.title }}</span>
      <div class="counter-wrapper">
        <button
          mat-icon-button
          [ngClass]="{
            active:
              actionActive.title === action.title &&
              (action.subscription | async)?.value == 1
          }"
          (click)="setAction(action, 1)"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          [ngClass]="{
            active:
              actionActive.title === action.title &&
              (action.subscription | async)?.value == -1
          }"
          (click)="setAction(action, -1)"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <span class="action-message">{{ action.message }}</span>
    </div>
    <div class="toggle-counter" *ngIf="action.type === 'Counter'">
      <span>{{ action.title }}</span>
      <div class="counter-wrapper">
        <button mat-icon-button (click)="setCounter(action, 1)">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="setCounter(action, -1)">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
      <span class="action-message">{{ action.message }}</span>
    </div>
  </ng-container>
</div>
